.custom-hr {
  border: 1px solid #6DCE0E;  /* Define the border style */
  width: 90%;             /* Set the width of the line */
  margin: 50px auto;         /* Center the line on the page */
}

.custom-breadcrumb{
  margin-left: 100px !important;
  //  min-width:'800px';
  //  max-width: '800px';
  //  background-color: #6DCE0E;
}


.custom-breadcrumb .breadcrumb {
  background-color: transparent; /* Set the background color to transparent */
  font-size: smaller;
  margin-top: 50px;
}
.text-news-page {
  text-align: right;
  margin-top: -30px;


}
.text-news-head-title {
  text-align: right;
  width: 70%;
  margin-left: auto;
  margin-top: 60px;
  
  
}
.text-news-page > .sectionTitleContainer {
  
  text-align: right;
  width: 70%;
  margin: 0 auto;
}
.text-news-page > .sectionTitleContainer > .sectionTitle {
  font-size:30px;
  margin: 0px 0 35px 0;
  border: 1px solid ;
  border: none;
  text-align: right;
}
.text-news-sub-title {
  text-align: right;
  width: 70%;
  margin: 30px auto;
  margin-top: 0;
  font-size:18px;
}
.text-news-page > img {
  border-radius: 2%;
  // height: 500px;
  margin: 0 auto;
  display: block;
  width: 50%;
  
}
.news-share {
  width: 30px;
  margin: 0 20px 0 20px;
}
.text-news-page > .text-news-lead {
  width: 70%;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px 15px 10px 0;
 
}
.text-news-page > .text-news-content {
  width: 70%;
  margin: -90px auto;
  font-size: 20px;
  padding: 10px 0px 10px 0;
  
}

.text-news-date {
  text-align: left;
  width: 65%;
  margin: 10px auto;
  font-size: 20px;
  color: #636060;
}
.text-news-page > .container-fluid > div {
  width: 70%;
  margin: 0 auto;
}
.text-news-page > .container-fluid > div > div > p {
  text-align: center;
}
.category-box {
  text-align: center;
}
.category-box > p {
  float: left;
  line-height: 50px;
}
.share-news > img {
  width: 45px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.share-news {
  float: right;
}

@media only screen and (max-width: 2560px) {
body{
  overflow-x: hidden !important;
}

}

@media only screen and (max-width: 375px) {
  .custom-breadcrumb{
    margin-left: 80px ;

  }
  
}
