@font-face {
  font-family: segoe;
  src: url("../../assets/fonts/Segoe.woff");
}
@font-face {
  font-family: shabanam;
  src: url("../../assets/fonts/Shabnam.ttf");
}
* {
  scroll-behavior: smooth;
}
.App {
  overflow: hidden;
}
body {
  overflow-x: hidden;
  font-family: shabanam !important;
}
.carousel-indicators > li {
  background-color: #0B1803 !important;
  opacity: 1 !important;
  height: 13px !important;
  width: 13px !important;
}
.carousel-indicators > .active {
  background-color: #6DCE0C !important;
}
.carousel-indicators > .active {
}
