@font-face {
  font-family: segoe;
  src: url("../../assets/fonts/Segoe.woff");
}
@font-face {
  font-family: shabanam;
  src: url("../../assets/fonts/Shabnam.ttf");
}

* {
  scrollbar-width: 12px;
  scrollbar-color: #ffffff ;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #0b1803;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}


* {
  scroll-behavior: smooth;
}
.App {
  overflow: hidden;
}
body {
  overflow-x: hidden !important;
  font-family: shabanam !important;
}
.carousel-indicators > li {
  background-color: #0B1803 !important;
  opacity: 1 !important;
  height: 13px !important;
  width: 13px !important;
}
.carousel-indicators > .active {
  background-color: #6DCE0C !important;
}
.carousel-indicators > .active {
}

@media only screen and (max-width: 2560px) {
body{
  overflow-x: hidden !important;
}
}
@media only screen and (max-width: 375px) {
  body{
    overflow-x: hidden !important;
  }
  }
