.statement-page {
  text-align: right;
  // background-color: #636060;
}
.statement-head-title {
  text-align: right;
  width: 90%;
  font-size: 30px;
  margin-top: 20px;
  // background-color: #636060 !important;
}

.image-container {
  border-radius: 2%;
  // height: 500px;
  margin: 0 auto;
  display: block;
  width: 400px !important;
}
.image-container > img {
  width: 80% !important;
  border-radius: 2%;
}

// .statement-share {
//   width: 30px;
//   margin: 0 20px 0 20px;
// }
// .statement-page > .statement-lead {
//   width: 70%;
//   margin: 0 auto;
//   font-size: 20px;
//   padding: 10px 15px 10px 0;
//   background-color: #d0d8e057;
// }
.statement-description {
  width: 90%;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 0px 10px 0;
}
.custom-breadcrumb {
  position: relative;
  left: -2% !important;
}

.statement-date {
  text-align: left;

  // background-color: blue !important;
  font-size: 14px;
  color: #636060;
}

.bread-crumb-container {
  width: 100% !important;
  // background-color: #680404;
  margin: 0 auto;
}

// .statement-page > .container-fluid > div {
//   width: 90%;
//   margin: 0 auto;
// }
// .statement-page > .container-fluid > div > div > p {
//   text-align: center;
// }
// .category-box {
//   text-align: center;
// }
// .category-box > p {
//   float: left;
//   line-height: 50px;
// }
.share-statement > img {
  width: 45px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.share-statement {
  float: right;
}
