.col {
  padding-top: 10px;
}
.logoBox {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}
.logoBox > img {
  width: 75%;
}
.logoBox > p {
  margin-top: 20px;
  font-size: 18px;
}
.firstCol > button {
  float: right;
}
.buttonDiv > button {
  margin: auto;
}
.buttonContainer > button {
  margin: 15px auto;
}
.container {
  padding-top: 10px;
}
.container > div {
  margin-top: 10px;
  cursor: pointer;
}
.container > :nth-child(1) {
  font-size: 17px;
  margin-bottom: 20px;
  cursor: default;
}
.container > div > div {
  text-align: center;
}
.container > div > div > div > button {
  margin: auto;
}
.container > div > div > div > a > button {
  margin: auto;
}
.divider {
  text-align: center;
}
.divider > ul {
  margin: 20px 0 0 0;
}
.categoryItem {
  height: 35px;
  padding-top: 10px;
}
.categoryItem > label > span {
  display: inline-block;
  cursor: pointer;
  padding: 0 0 0 5px;
}
.categoryItem > label > input {
  cursor: pointer;
}
