* {
  stroke-width: 0;
}
.sea > path {
  fill: #00bdff;
}
.lake {
  fill: #00bdff;
}
.province {
  fill: #ffffff;
  cursor: pointer;
}
.province :hover {
  fill: #0B1803;
}
.island {
  fill: #efefef;
}
.border {
  fill: #ffffff;
}
