.announcements-button {
  width: 100px;
  text-align: left;
  line-height: 77px;

  color: #6dce0e;
  margin-right: auto;
  font-size: 14px;

  cursor: pointer;
}

@media (max-width: 1820px) {
  .announcements-button {
    width: 80%;
    height: 86px;
  }
}

@media (max-width: 1200px) {
  .announcements-button {
    width: 40%;
    height: 70px;
   
    font-size: 25px;
  }
}
