.shared-pagination {
  direction: rtl;
  margin-top: 28px;
  margin-right: 37%;
}
.shared-pagination > li > a {
  border: none !important;
  color: rgb(112, 112, 112);
  background: rgba(0, 0, 0, 0) !important;
}
.shared-pagination > .active > .page-link {
  background: rgb(0, 89, 253);
  border-radius: 5px;
}
@media only screen and (max-width: 1010px) {
  .shared-pagination {
    margin-right: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .shared-pagination {
    margin-right: 23%;
  }
}
@media only screen and (max-width: 480px) {
  .shared-pagination {
    margin-right: 8%;
  }
}
@media only screen and (max-width: 368px) {
  .shared-pagination {
    margin-right: -6%;
  }
}
