.description > h5 {
  font-size: 20px;
  font-weight: 500;
}
.description > h5 > p {
  font-size: 18px;
  font-weight: 100;
}

.spinner {
  border: 4px solid #2a7221;
  border-top: 4px solid #119822;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .description > h5 {
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
  }
  .description > h5 > p {
    font-size: 16px;
  }
  .tableTitle {
    font-size: 12px !important;
  }
  .tableDetails{
    font-size: 10px !important;
  }
}



@media only screen and (max-width: 425px) {
  .description > h5 {
    font-size: 14px;
    margin-right: 10px;
  }
  .description > h5 > p {
    font-size: 12px;
  }
  .tableTitle {
    font-size: 10px !important;
  }
  .tableDetails{
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 375px) {
  .description > h5 {
    font-size: 14px;
    margin-right: 10px;
  }
  .description > h5 > p {
    font-size: 12px;
  }
  .tableTitle {
    font-size: 10px !important;
  }
  .tableDetails{
    font-size: 10px !important;
  }
}
