.provinceButton{
    background-color: #0B1803;
    width: 100px ;
    height: 80px ;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    
}