

.slide-show-item {
  border-radius: 5px !important;
  height: 540px;
  position: relative;
}
.imgSlider {
  margin-top: 2.5%;
  margin-left: 5%;
}

.grayscale-filter {
  filter: grayscale(100%);
}
.grayscale-filter-selected {
  filter: grayscale(10%);
  transform: scale(1.1);
}

.sliderNewsTab {
  width: 300px;
  height: 550px;
  overflow-y: auto;
  padding-left: 5px;
  margin-right: 0px;
}

.sliderNewsTab {
  scrollbar-width: 10px;
  scrollbar-color: #0b1803 transparent;
}
.sliderNewsTab::-webkit-scrollbar {
  width: 8px;
}
.sliderNewsTab::-webkit-scrollbar-track {
  background: transparent;
}
.sliderNewsTab::-webkit-scrollbar-thumb {
  background-color: #0b1803;
  border-radius: 5px;
}

.slider-caption {
  width: 600px !important;
  height: 100px;
  position: relative;
  top: 80% !important;
  right: 30% !important;
  z-index: 1000;
  color: #000000;
  text-align: right !important;

  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.slider-caption > h5 {
  color: #0b1803;
}

.slider-caption > p {
  color: rgb(48, 48, 48);
}

.sliderContainer {
  height: 650px;
  background-color: #eeeeee;
}

@media only screen and (max-width: 2560px) {
  .sliderNewsTab {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nextIconSlider {
    position: absolute !important;
    top: 40% !important;
    left: 87% !important;
    background-color: #0b1803;
  }
  .backIconSlider {
    position: absolute !important;
    top: 40% !important;
    left: 3% !important;
    background-color: #0b1803;
  }
  .slider-caption {
    position: absolute;
    left: 0% !important;
    width: 1240px !important;
  }
  .slider-caption-title {
    font-size: 16px;
    font-weight: 500;
  }
  .slider-caption-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1440px) {
  .nextIconSlider {
    position: absolute !important;
    top: 40% !important;
    left: 80% !important;
    background-color: #0b1803;
  }

  .slider-caption {
    position: absolute;
    left: 3% !important;
    width: 1100px !important;
  }

}

@media only screen and (max-width: 1024px) {
  .sliderNewsTab {
    overflow-x: hidden;
    height: 500px !important;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider-caption {
    position: absolute;
    left: 7% !important;
    width: 750px !important;
  }
}

@media only screen and (max-width: 768px) {
  .sliderNewsTab {
    display: none;
  }
  .sliderContainer {
    height: 500px !important;
  }
  .slider-caption {
    width: 650px !important;
    left: 9% !important;
    top: 55% !important;
    height: 150px !important;
  }
  .slider-caption-title {
    font-size: 12px;
  }
  .slider-caption-text {
    font-size: 10px;
  }
  .imgSliderNews {
    width: 730px !important;
    height: 300px !important;
  }
  .nextIconSlider {
    position: absolute !important;
    top: 28% !important;
    left: 70% !important;
    background-color: #0b1803;
  }
  .backIconSlider {
    position: absolute !important;
    top: 28% !important;
    left: 3% !important;
    background-color: #0b1803;
  }
}

@media only screen and (max-width: 425px) {
  .sliderContainer {
    height: 400px !important;
  }
  .slider-caption {
    width: 340px !important;
    top: 35% !important;
    height: 150px !important;
  }
  .slider-caption-title {
    font-size: 12px;
  }
  .slider-caption-text {
    font-size: 10px;
  }
  .imgSliderNews {
    width: 390px !important;
    height: 200px !important;
  }
  .nextIconSlider {
    position: absolute !important;
    top: 18% !important;
    left: 50% !important;
    background-color: #0b1803;
  }
  .backIconSlider {
    position: absolute !important;
    top: 18% !important;
    left: 3% !important;
    background-color: #0b1803;
  }
}

@media only screen and (max-width: 375px) {
  .sliderContainer {
    height: 400px !important;
  }
  .slider-caption {
    width: 320px !important;
    top: 35% !important;
    height: 150px !important;
  }
  .slider-caption-title {
    font-size: 12px;
  }
  .slider-caption-text {
    font-size: 10px;
  }
  .imgSliderNews {
    width: 344px !important;
    height: 200px !important;
  }
}



