.slide-show-item {
  height: 600px;
  position: relative;
}
.imgSlider {
  margin-top: 2.5%;
  margin-left: 5%;
}

.grayscale-filter {
  filter: grayscale(100%);
}
.grayscale-filter-selected {
  filter: grayscale(10%);
  transform: scale(1.1);
}
sliderNewsTab {
  padding-right: 5px;
}

.sliderNewsTab {
  width: 300px;
  height: 550px;
  overflow-y: auto;
  padding-left: 5px;
  margin-right: 0px;
}

.sliderNewsTab {
  scrollbar-width: 10px;
  scrollbar-color: #0b1803 transparent;
}
.sliderNewsTab::-webkit-scrollbar {
  width: 8px;
}
.sliderNewsTab::-webkit-scrollbar-track {
  background: transparent;
}
.sliderNewsTab::-webkit-scrollbar-thumb {
  background-color: #0b1803;
  border-radius: 5px;
}

// .carousel-control-next-icon {
//   position: relative;
//   right: 15%;
//   top: 20%;
//   color: white;
//   font-size: 40px !important;
// }
// .carousel-control-prev-icon {
//   position: relative;
//   left: -25%;
//   top: 20%;
// }
// .carousel-indicators {
//   left: 0% !important;
//   z-index: 4 !important;
// }
// .carousel-indicators > li {
//   height: 25px !important;
//   width: 25px !important;
//   border-radius: 100% !important;
//   background-color: #0B1803 !important;
// }
.slider-caption {
  width: 500px;
  height: 400px;
  position: relative;
  top: 40% !important;
  right: 42% !important;
  z-index: 1000;
  color: #000000;
  text-align: right !important;

  border-radius: 10px 0 0 10px;
}
.slider-caption > h5 {
  color: #0b1803;
}

.slider-caption > p {
  color: rgb(48, 48, 48);
}
// @media only screen and (max-width: 1199px) {
//   .slide-show-item {
//     height: 350px;
//   }
//   .slide-show {
//     top: -40px;
//   }
//   .slider-caption-title {
//     font-size: 15px;
//   }
//   .slider-caption-text {
//     font-size: 12px;
//   }
// }
// @media only screen and (max-width: 788px) {
//   .slider-caption-title {
//     font-size: 13px;
//   }
//   .slider-caption-text {
//     font-size: 11px;
//   }

//   .carousel-control-next-icon {
//     left: 40px;
//   }
//   .carousel-control-prev-icon {
//     right: 40px;
//   }
// }

// @media only screen and (max-width: 626px) {
//   .slider-caption-title {
//     font-size: 10px;
//   }
//   .slider-caption-text {
//     font-size: 10px;
//   }
//   .carousel-control-next-icon {
//     left: 20px;
//   }
//   .carousel-control-prev-icon {
//     right: 20px;
//   }
//   .carousel-indicators {
//     display: none !important;
//   }
// }
@media only screen and (max-width: 540px) {
  .slider-caption {
    width: 100% !important;
  }
  .sliderNewsTab {
    display: none;
  }
  .slide-show-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-caption.carousel-caption {
    text-wrap: wrap;
    word-break: break-word;
    left: 0;
  }
  .backIcon {
    left: -50% !important;
  }
  .slider-caption {
    width: 100%;
    position: absolute;
    top: 30px !important;
    right: 150px !important;
    z-index: 1000 !important;
  }
  .slider-caption > h5 {
    color: #0b1803;
  }
  .imgSliderNews {
    width: fit-content;
    height: 300px;
  }
}
@media only screen and (max-width: 720px) {
  .slide-show-item {
    height: 400px;
  }
  .sliderNewsTab {
    display: none;
  }
  .slide-show-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-caption {
    position: absolute;
    bottom: 10% !important;
    right: 20% !important;
    z-index: 1000 !important;
  }
  .slider-caption > h5 {
    color: #0b1803;
  }
  .imgSliderNews {
    width: fit-content;
    height: 300px;
  }
}
@media only screen and (max-width: 960px) {
  .slide-show-item {
    height: 500px;
  }

  .slide-show-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-caption {
    position: absolute;
    top: 45% !important;
    right: 10% !important;
    z-index: 1000 !important;
  }
  .slider-caption > h5 {
    color: #0b1803;
  }
  .imgSliderNews {
    height: 80%;
  }
}
@media only screen and (max-width: 1140px) {
  .slide-show-item {
    height: 500px;
  }

  .slide-show-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-caption {
    position: absolute;
    top: 45% !important;
    right: 10% !important;
    z-index: 1000 !important;
  }
  .slider-caption > h5 {
    color: #0b1803;
  }
  .imgSliderNews {
    height: 80%;
  }
}
