.services-card-item {
  margin: 0 auto;
  border-radius: 5px !important;
  box-shadow: 0px 14px 10px -10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 13px;
  width: 300px;
  height: 200px;
  
}

.services-flash-card-title {
  width: 100%;
  text-align: right;
}
.services-flash-card-img {
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.services-flash-card-img > img {
  height: 100%;
  width: 100%;
}

.services-dim-bg {
  width: 100%;
  height: 100%;
  background-color: #060d3f54;
  padding-top: 60px;
  position: absolute;
  top: 0;
}
.services-dim-bg > h2 {
  height:50px !important;
  background-color: rgba(195, 203, 190, 0.5);
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #fff;
  position: relative;
  top: 70% !important;
  font-size: 18px !important;
  padding-top: 10px;
}



// .services-hover {
//   width: 250%;
//   height: 100%;
//   background: rgba(255, 255, 255, 0.5);
//   transform: rotate(45deg);
//   position: absolute;
//   right: -600px;
//   transition: 0.7s;
//   top: -101px;
//   z-index: 1;
// }
// .services-card-item:hover > .services-flash-card-img > .services-hover {
//   right: 40px;
//   top: 20px;
// }
// @media only screen and (max-width: 425px) {
//   .services-card-item {
//     border-radius: 5px !important;
//     width: 250px;
//     height: 150px;
//   }
//   .services-flash-card-img {
//     border-radius: 5px !important;
//     width: 250px !important;
//     height: 150px !important;
//   }
//   .services-flash-card-img > img {
//     border-radius: 5px !important;
//     width: 100%;
//     height: 100%;
//   }
//   .services-dim-bg > h2 {

//     position: relative;
//     top: 75% !important;
//     font-size: 10px !important;
//     padding-top: 2px;
//   }
// }

